body {
    text-align: center;
    background-color: red;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 40%;
    margin: 0 auto;
}

.logo img {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 180px;
    width: 300px;

}

.saldo {
    font-size: large;
    font-weight: bolder;
    font-style: italic;
}

.saldo p {    
    margin: 1rem;
}

.saldo img {
    height: 35px;
    border: 2px solid white;
    border-radius: 50%;
    vertical-align: middle;
}

.fila {
    display: inline-block;
}

.cajaPadre{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 30px;
    margin-bottom: 30px;
    box-shadow: 1px 1px 15px 3px;
    padding: 10px;
}
h1{
    margin: 10px;
}